h2.title היוזמה נרשמה בהצלחה.

p כעת תוכלו לערוך בעמוד זה את כל פרטי היוזמה - על ידי לחיצה על העיפרון שבפינה השמאלית-עליונה - יפתחו אפשרויות העריכה ותוכלו להמשיך משם.

p בקרוב אחד המנהלים ישים לב שצצה יוזמה חדשה באתר ויוכל לאשר אותה לכלל גולשי האתר.

p עד אז, אנחנו ממליצים - לעבור על התכנים השונים שניתן להעלות לעמוד זה (על ידי לחיצה על העיפרון), ולהוסיף כל מה שרק אפשר.

p(ng-if="gPending.adminEmail") בכל מקרה שהוא, מנהלי האתר יוכלו ליצור איתך קשר בכתובת - {{ gPending.adminEmail }}