$maxWidth: $mobile / 3 * 4

.modal
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

	width: 100%
	height: 100%

	@media (min-width: $maxWidth + 51px) and (min-height: $mobile)
		max-width: $maxWidth
		height: 80%

	margin: auto
	background-color: white

	box-shadow: $heavyShadow
	text-align: right
	color: #444444

	@import "header-main-footer"

.modalHolder

	z-index: $topMost

	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0

	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.4)

	body[step="loaded"] &
		background-color: rgba(0, 0, 0, 0.8)