// Import
//-------

@import "/alefhebrew.css"

// Setup
//------

@import "sass/variables"
@import "sass/methods"
@import "sass/colors"
@import "sass/z-index"

@import "sass/normalize"
@import "sass/base"

@import "sass/nz-animate"

// Elements
//---------

@import "sass/ui/paper"
@import "sass/ui/box"
@import "sass/ui/elemental"
@import "sass/ui/button"
@import "sass/ui/line-through"
@import "sass/ui/logo"
@import "sass/ui/portrait"
@import "sass/ui/changes"

@import "sass/ui/helper-classes"

@import "components/task-list/task-list"
@import "components/fa-sharing-buttons/fa-sharing-buttons"
@import "components/social-links/social-links"


// Admin Dashboards
//-----------------

@import "states/homepage/admin"


// States
//-------

@import "components/body/body"

@import "states/homepage/homepage"

@import "states/about/about"

@import "states/groups/groups"

@import "states/draft/draft"

@import "states/tasks/tasks"

@import "states/single-group/single-group"

// Modals
//-------

@import "components/modal/modal"

@import "common/modals/login"
@import "common/modals/edit-profile"
@import "common/modals/feedback"
@import "common/modals/confirm-action"

@import "states/homepage/modals/add-group"
@import "states/single-group/modals/group-task"

@import "states/edit/edit"
@import "states/edit/modals/argument-comments"
@import "states/draft/modals/suggestions-list"
@import "components/argument/argument"
@import "components/edit-suggestion/edit-suggestion"
@import "components/voting-buttons/voting-buttons"

body
	&.draft, &.draftEdit
		header.userTopBar
			display: none

button, a
	[ng-click]
		cursor: pointer

h1
	font-size: 2em
	font-weight: bold

p.description
	color: $explain

.author
	img, span:first-child, .displayName
		margin-left: .5em
	img
		@include portrait(2em)
		modal &
			@include portrait(2em, $uiGrey)
	span.createdAt
		display: inline-block

article[class^="single"]
	font-size: .85em

edit-suggestion, history-commit

	.title
		font-size: 1.5em

	.changes
		@include changes

.paper.changes
	@include changes

.paper.tabs
	text-align: center
	padding-bottom: 0

	a
		text-decoration: none
		display: inline-block
		width: 33%
		padding-top: .35em
		padding-bottom: .5em
		font-size: 1.3em

		@media (min-width: $mobile)
			font-size: 1.5em

		&.active
			background-color: white

	.counter
		display: inline-block
		background-color: white
		border-radius: 2px
		margin: -1px 0 0 .5em
		padding: 0 .3em .2em
		vertical-align: middle
		font-size: .6em