doctype html
html(lang="he", ng-app="app")
	head

		base(href="/")
		meta(name="fragment", content="!")
		meta(name="viewport", content="width=device-width")
		meta(charset="utf-8")
		meta(name="referrer" content="always")
		link(type="text/plain", rel="author", href="humans.txt")

		include seo

		// build:css
		// endbuild

		// build:js
		// endbuild

		include favicons

	body(ng-class="$state.$current.name" step="loading")

		include components/body/body