state-draft

	.paper

		&.draft

			.para
				position: relative

				&:not(:last-of-type) p
					margin-bottom: 2.5em

				&:hover
					button.fa
						color: inherit

				.actions
					position: absolute
					left: 0
					bottom: -2em
					direction: ltr

				button.fa
					color: $uiGrey
					margin-right: 0

		&.draft-comments, &.edit-suggestions, &.draft-history

			article
				padding: 1em

				&:not(:last-of-type)
					border-bottom: 1px solid $uiGrey

			.author
				margin-top: 1em

				img
					@include portrait(2em, $tokenBorder)

		&.edit-suggestions, &.draft-history

			h3
				font-size: 1.5em

			.changes
				@include changes

		&.draft-comments

			p
				margin: 0

		&.edit-suggestions

			.votes
				margin-top: 1em
				text-align: center

				span
					display: inline-block
					font-size: 1.2em
					padding: .5em 2em

				.for
					color: $vote-for
				.against
					color: $vote-against

		&.draft-history

			.acceptedAt
				font-size: 1rem
				padding-top: 1em
				color: $vote-for