.modal.suggestionsList

	edit-suggestion:last-of-type
		border-bottom: 1px solid $uiGrey

	.form.add-suggestion

		&:not(:first-child)
			margin-top: 2em

		h3
			font-size: 1.2em

		p
			font-size: .8em