state-edit

	@media (min-width: $tablet)
		fa-sharing-buttons
			float: left

	.author
		margin-top: .5em

	.draft-ref a
		font-weight: bold

	.paper.desc
		@include clearFix

	fa-sharing-buttons
		display: block
		text-align: right

	.paper.action
		text-align: center

		button
			width: 90%
			max-width: $mobile
			margin-top: 0

			&:before
				margin-left: .5em

			@media (min-width: $tablet)
				width: 50%
				margin: 0

				&.for
					border-radius: 0 2px 2px 0
				&.against
					border-radius: 2px 0 0 2px

		.num-votes
			font-size: .8em

	.paper.discussion

		$forBorder: $defaultPadding/5 solid lighten($vote-for, 10%)
		$againstBorder: $defaultPadding/5 solid lighten($vote-against, 10%)

		.top-border
			display: none
		@media (min-width: $tablet)
			.top-border
				display: block
			.for .top-border
				border-top: $forBorder
			.against .top-border
				border-top: $againstBorder

		.for, .against
			margin-bottom: 1em

		.for
			border-right: $forBorder
		.against
			border-right: $againstBorder
		@media (min-width: $tablet)
			.for, .against
				border-right: 0
				margin-bottom: 0

		.no-arguments
			text-align: center
			font-size: 2em
			color: $explain

		.rate-argument
			float: right
			width: 2.5em
			margin-left: .5em
			text-align: center

		.score, .fa
			color: $explain

		.score
			font-size: 1.2em
			padding-right: .1em

		.argument
			overflow: auto

			.author
				font-size: .8em

		article
			@include clearFix
			padding: .5em
			border-bottom: 1px solid $uiGrey

			p
				margin-top: 0

		@media (min-width: $tablet)

			.for, .against
				box-sizing: border-box
				display: inline-block
				width: 50%
				vertical-align: top

			.for article:last-of-type
				border-bottom: 0

	.paper.edit-comments
		article
			padding: 1em