state-edit

	.author
		margin-bottom: .5em

	.draft-ref a
		font-weight: bold

	p.changes-view
		padding: 1em 0
		border-bottom: 1px solid $uiGrey
		border-top: 1px solid $uiGrey

	.paper
		&.desc, &.sharing
			@include clearFix

	span.auto-acceptance
		display: inline-block
		margin-top: .55em

		.num
			border-radius: 2px
			margin: 0 0.5em
			padding: 0.2em 0.3em
			background-color: white

	fa-sharing-buttons
		display: block
		text-align: right

		@media (min-width: $tablet)
			float: left

	.paper.discussion

		$forBorder: $defaultPadding/5 solid lighten($vote-for, 10%)
		$againstBorder: $defaultPadding/5 solid lighten($vote-against, 10%)

		.top-border
			display: none
		@media (min-width: $tablet)
			.top-border
				display: block
			.for .top-border
				border-top: $forBorder
			.against .top-border
				border-top: $againstBorder

		.for, .against
			margin-bottom: 1em

			@media (min-width: $tablet)
				box-sizing: border-box
				display: inline-block
				width: 50%
				vertical-align: top

		.for
			border-right: $forBorder
		.against
			border-right: $againstBorder
		@media (min-width: $tablet)
			.for, .against
				border-right: 0
				margin-bottom: 0

		.no-arguments
			text-align: center
			font-size: 2em
			color: $explain

		.extra-arguments
			text-align: center
			padding: .5em 0 .8em
			border-top: 1px solid $uiGrey